 
.felipa-regular {
  font-family: "Felipa", serif;
  font-weight: 400;
  font-style: normal;
}
.Wings{
        background-color:rgb(224, 139, 11);
        color:whitesmoke;
        border:none;
        padding-top:9px;
        padding-bottom: 9px;
        border-radius:2px;
        cursor:pointer;
        font-weight:bold;
        font-size:20px;
        transition:background-color 0.15s;
        margin:10px;
    }
    .Wings:hover{
        background-color:rgb(156, 9, 9);
        color:rgb(224, 139, 11);
        opacity:0.7;
        box-shadow:5px 5px 10px rgba(0,0,0,0.15);
    }
    .Wings:active{
        background-color:pink;
    }
    .Text{
        font-size:20px;
        font-family:"Ballet", cursive;
        Line-height:22px;
        width:470px;
        text-align:center;
        margin-bottom: 280px;
        margin-left: 680px;
    }
    p{
        font-family:'Courier New', Courier, monospace
    }
    .details{
        color:white;
        background-color: blue;
        text-align:center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .span:hover{
        color:green;
        text-decoration: underline;
    }
    .thumbnail{
        width:600px;
        display:block;
        margin-left:600px;
        margin-top: 200px;

    }
    .search{
        font-size:20px;
        margin-left:12px;
    }
    .container{
        width:300px;
    }
    .header{
        height:60px;
        display:flex;
        flex-direction: row;
    }
    .left-section{
        width:1400px;
        align-items:center;
    }
    .middle-section{
        flex:1;
        max-width:250px;
    }

    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #111;
  color: white;
}
